<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)="OnSubmit()" #f='ngForm'>
      <div class="row">
        <div class="col-sm-12 ">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              name="name"
              ngModel
              required
            >
          </div>

          <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input
              type="number"
              id="amount"
              class="form-control"
              name="amount"
              ngModel
              required
              pattern="[1-9]+[0-9]*$"
            >
          </div>
        </div>
        <div class="col-xs-12">
          <button [disabled]="!f.valid" type="button" class="btn btn-success" style="margin:5px;" (click)="AddGradient()">{{isEditMode?'Update':'Add'}}</button>
          <button  class="btn btn-danger" style="margin:5px;" (click)="OnDeleteIngredient()" *ngIf="f.valid">Delete</button>
          <button type="submit" class="btn btn-primary" style="margin:5px;" (click)="OnClearForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
